@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }



 @import "http://fonts.googleapis.com/css?family=Montserrat:300,400,700";
.responsive-table-input-matrix {
  margin: 1em 0;
  width: 100%;
}
@media (min-width: 280px) {
  .responsive-table-input-matrix .responsive-table-input-matrix {
    width: auto;
  }
}
.responsive-table-input-matrix tr {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.responsive-table-input-matrix tr td {
  text-align: left;
}
@media (min-width: 280px) {
  .responsive-table-input-matrix tr td {
    text-align: center;
  }
}
.responsive-table-input-matrix tr td:first-of-type {
  text-align: left;
}
.responsive-table-input-matrix th {
  display: none;
}
.responsive-table-input-matrix td {
  display: block;
}
.responsive-table-input-matrix td:first-child {
  padding-top: .5em;
}
.responsive-table-input-matrix td:last-child {
  padding-bottom: .5em;
}
.responsive-table-input-matrix td:before {
  content: attr(data-th) ": ";
  font-weight: bold;
  width: 9em;
  display: inline-block;
}
@media (min-width: 280px) {
  .responsive-table-input-matrix td:before {
    display: none;
  }
}
.responsive-table-input-matrix th:first-of-type {
  text-align: left;
}
.responsive-table-input-matrix th, .responsive-table-input-matrix td {
  text-align: center;
}
@media (min-width: 780px) {
  .responsive-table-input-matrix th, .responsive-table-input-matrix td {
    display: table-cell;
    padding: .25em .5em;
  }
  .responsive-table-input-matrix th:first-child, .responsive-table-input-matrix td:first-child {
    padding-left: 0;
  }
  .responsive-table-input-matrix th:last-child, .responsive-table-input-matrix td:last-child {
    padding-right: 0;
  }
}

body {
  padding: 0 0em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  overflow-x: hidden;
  font-size: 17px;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}

.responsive-table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
  border: #FFFF00 2px solid;
    width: 100%;
    word-wrap: break-word;
    table-layout: fixed
}
.responsive-table tr {
  border-color: #46627f;
}
.responsive-table th, .responsive-table td {
  margin: .5em 1em;
  vertical-align: middle;
  text-align: center;
}
@media (min-width: 280px) {
  .responsive-table th, .responsive-table td {
    padding: 1em !important;
  }
}
.responsive-table th, .responsive-table td:before {
  color: #dd5;
}



.thumbnail {
  position: relative;
  width: 50;
  height: 50px;
  overflow: hidden;
  text-align: center !important;
  background-color: orange;
}
.thumbnail img {
  position: absolute;
  width: 50px;
  height: 50px;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

tr, td {
  vertical-align: middle !important;
  text-align: center !important;
}


.navigation {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  /* non-critical appearance styles */
  list-style: none;
  background: #34495E;
  text-align: center;
}

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 80px;
  text-align: center;
}

.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  color: white;
  font-size: 0.9em;
  text-align: center;
  text-decoration: none;
}

.nav-item a:hover {
  color: yellow;
}

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: white; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  bottom: 100%;
  left: 0;
  z-index: 1;
  
  /* non-critical apperance styles */
  padding: 4em;
  padding-top: 0.5em;
  background-size: 200%;
}


/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  left: 15px; top: 15px;
  z-index: 2;
  
  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
}

/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
  -webkit-transition: left 0.2s;
          transition: left 0.2s;
}

.nav-trigger:checked + label {
  left: 115px;
}

.nav-trigger:checked ~ .site-wrap {
  left: 100px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

code {
  padding: 0px;
  background: #ddd;
}

/* Micro reset */
*,*:before,*:after{-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
html, body { 
  height: 100%;
  width: 100%;
  background: url('/bg.jpg') no-repeat center center fixed !important; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}

.blocks.table td {
    width: 300px;
    height: 300px;
    border: 1px solid gray;
    vertical-align: middle;
    text-align: center;
}


.glyphicon {
    font-size: 1.5em;
}

a:hover { 
    color: yellow;
}

div.img {
  border: 1px solid gray;
  width: 50px;
  height: 50px;
  text-align: center;
} 

div.img img {
    display: inline;
    border: 1px solid #ffffff;
  width: 50px;
  height: 50px;
}

div.img img:hover {
    border: 1px solid blue;
}

div.img img:hover {
    border: 2px solid blue;
}

.selected {
    border: 1px solid red;
}


div ul { list-style: none !important; }
div ul li { display: inline !important; } 

div ul li img { border: 2px solid white; cursor: pointer; }
  ul li img:hover { border: 2px solid black; }
  ul li img.hover { border: 2px solid black;
  opacity: 0.4;
  filter: alpha(opacity=40);
  background: url(http://www.surveyshare.com/images/icons/check.png) 50% 50% no-repeat;
  }

.table-responsive {
  overflow-x: auto;

}


tr.header
{
    cursor:pointer;
    background-color: brown;
}